$file-prefix: 'page-log';

.#{$file-prefix}-layout {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    .#{$file-prefix}-main {
        background-color: #eee;
        padding: 20px 0px;
        flex-grow: 1;
    }
}