$file-prefix: 'page-main';

.#{$file-prefix}-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .#{$file-prefix}-main {
        transition-duration: 1s;
        flex: 1;
    }
}