$file-prefix: 'page-request';

.#{$file-prefix}-layout {
    height: 100%;
    background-color: #eee;
    overflow-y: scroll;

    .#{$file-prefix}-main {
        .#{$file-prefix}-text {
            padding: 20px;
            text-indent: 20px;
            width: 1000px;
            margin: 40px auto;
            background-color: #fff;
        }

        .#{$file-prefix}-button-layout {
            display: inline-block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin: 20px auto;

            .#{$file-prefix}-button {
                margin: 0px 40px;
            }
        }
    }
}