$file-prefix: 'home-errorDetail';

.#{$file-prefix}-content {
    margin-top: 20px;
}

.#{$file-prefix}-img-layout {
    display: grid;
    width: 100%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 30%;

    .#{$file-prefix}-img {
        width: 100%;
    }
}