$file-prefix: 'home-header';

.#{$file-prefix}-layout {
    height: 60px;
    background-color: rgba($color: #000000, $alpha: 0.9);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    .#{$file-prefix}-logo {
        color: #fff;
        font-size: 40px;
        line-height: 50px;
        cursor: pointer;
    }

    .#{$file-prefix}-title {
        color: #aaa;
        font-size: 30px;
        line-height: 50px;
    }

    .#{$file-prefix}-user-layout {
        display: flex;
        justify-content: flex-start;
        padding: 0 10px;
        cursor: pointer;
        position: relative;

        &:hover {
            background-color: rgba($color: #eee, $alpha: 1);
        }

        .#{$file-prefix}-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-top: 5px;
            margin-right: 20px;
        }

        .#{$file-prefix}-icon {
            font-size: 20px;
            margin-top: 20px;
        }

        .#{$file-prefix}-user-operation-layout {
            width: 170px;
            position: absolute;
            top: 60px;
            background-color: #eee;
            right: 0px;
            z-index: 3;
            box-shadow: 0px 3px 9px #aaa;

            .#{$file-prefix}-user-operation-word {
                text-align: center;
                height: 50px;
                line-height: 50px;
                font-size: 20px;
                margin: 0px;

                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }
}