$file-prefix: 'home-userverify';

.#{$file-prefix}-layout {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 200px 200px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    flex: 1;
    padding: 40px 10%;
    justify-content: space-between;
    overflow-y: scroll;
    padding-bottom: 100px;

    .#{$file-prefix}-user-verify-item {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 200px;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 0px 40px rgba($color: #000000, $alpha: 0.4);
        padding: 10px;
        cursor: pointer;

        .#{$file-prefix}-user-verify-item-main {
            margin-right: 40px;
            flex: 1;

            .#{$file-prefix}-abstract {
                margin-top: 20px;
                color: #bbb;
            }
        }

        .#{$file-prefix}-picture {
            margin-top: 50px;
            width: 150px;
            height: 100px;
        }
    }
}