$file-prefix: 'home-userList';

.#{$file-prefix}-layout {
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;

    .#{$file-prefix}-table {
        margin-top: 40px;
        width: 1200px;
        position: relative;
        left: 50%;
        margin-left: -600px;
        height: 100%;
    }

    .#{$file-prefix}-author {
        display: flex;
        justify-content: flex-start;

        .#{$file-prefix}-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .#{$file-prefix}-realname {
            line-height: 40px;
        }

        .#{$file-prefix}-tag {
            margin-top: 5px;
            margin-left: 10px;
            background-color: #eee;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
        }
    }
}